

.reveal p, .reveal ul, .reveal ol, .reveal li {
    font-size: 36px !important;
    line-height: 1.2 !important;
}

.reveal h1, .reveal h2, .reveal h3 { 
    color: #66b3ff !important;
}
.reveal h1 { font-size: 3.0em !important; }
.reveal h2 { font-size: 2.8em !important; }
.reveal h3 { font-size: 2.5em !important; }

.reveal .output_scroll {
    height: 500px; /* Altezza della finestra di output */
    overflow-y: scroll; 
    display: block;
}
